.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 80px;
}

.title {
  font-family:
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.4px;
  color: #1b4332;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  font-family:
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
