.info-block {
  display: flex;
  gap: 50px;
  color: #2d6a4f;
  font-size: 20px;

  &__icon {
    display: block;
    width: 28px;
    height: 28px;
    object-fit: contain;
    background: inherit;
  }

  &__cooking-time {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__portions {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
    border-left: 2px solid #d4edda;
  }
}
