.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 50px;
}

.title {
  font-family:
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.4px;
  color: #1b4332;
}

@media (max-width: 1200px) {
  .wrapper {
    gap: 25px;
    padding: 10px 35px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    gap: 15px;
    padding: 10px 20px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    gap: 10px;
    padding: 10px;
  }

  .title {
    font-size: 28px;
  }
}
